.scrollclass {
    flex: 1 1 auto;
    overflow: hidden;
    max-height: inherit;
}

.mapbody {
    max-height: 100vh;
}

#map {
    height: 100%;
}

.map-container {
    min-height: 60vh;
}

.icon-sq-button {
    width: 32px;
    height: 32px;
}

.skyblue{
	background-color: #87ceeb;
}

#availContainer{
	height: 200px;
	background:yellow;
}

.promotedfooter {
    padding-right: 10px;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
