.scrollclass{
    height: 200px;
    overflow-y: scroll;
}

.mappagecontainer {
    list-style-type: none;
}

.icon-sq-button {
    width: 32px;
    height: 32px;
}

.store-card {
    max-width: 750px;
}

.skyblue{
	background-color: #87ceeb;
}

#availContainer{
	height: 200px;
	background:yellow;
}